.cool_button {
    width: 300px;
    border-radius: 50px;
    height: 40px;
}

.shoeName_container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.shoeName_card {
    height: auto;
    width: 100%;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shoeName_card img {
    max-width: calc(100% + 20px);
    object-fit: cover;
}