.loader_image {
    width: 500px;
    height: 500px;
}

.stage {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../images/basketball_background.svg");
    flex-direction: column;
}

.box {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}
.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}